NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_FEE_WALLET=11111111111111111111111111111111
NEXT_PUBLIC_FEE_SOL=0.15
NEXT_PUBLIC_REGISTRY_PROGRAM_ID=4SpRPoj6MV6o2g6yYBuJwdE8kvxZ83gxEoLfwDYAnNsw
